.container-fluid-content{
    padding-left: 143px;
    padding-right: 200px;
    padding-top: 0px;
    /*padding-right: 100px;*/

}
.row-content{
    border: 1px solid #cccccc;
    border-radius: 8px;
    padding: 20px;
    height: 650px;
}
.pre-scrollable {
    max-height: 560px;
    overflow-y: scroll;
    /*margin-left: 110px;*/
    /*margin-right: 125px;*/
}
hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #eee;
}